language: haskell
before_install:
  # Uncomment whenever hackage is down.
  # - mkdir -p ~/.cabal && cp travis/config ~/.cabal/config && cabal update
  - cabal update

  # Try installing some of the build-deps with apt-get for speed.
  #LATER - travis/cabal-apt-install $mode
  - (cd paper && ../travis/cabal-apt-install $mode)

  # TODO install less than texlive-full
  - sudo apt-get -q -y install bash texlive-base texlive-full rubber

install:
  #LATER - cabal configure $mode
  #LATER - cabal build
  - (cd paper && cabal configure $mode)

script:
  #- $script && hlint src --cpp-define HLINT
  #- (cd paper && $script && hlint src --cpp-define HLINT)
  - (cd paper && bash ./do all)

notifications:
  irc:
    channels:
      - "irc.freenode.org#np"
    # We need to own the channel then changed its mode
    # https://github.com/np/names-for-free/settings/hooks
    #skip_join: true
    template:
      - "\x0313names-for-free\x03/\x0306%{branch}\x03 \x0314%{commit}\x03 %{build_url} %{message}"

env:
  #- mode="--enable-tests" script="cabal test --show-details=always"
